In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('HSR Layout.csv')

In [7]:
df.head()

,Unnamed: 0,names,ratings,cost,dish,deliveryin_min,order
0,0,Ovenstory Pizza,3.9,₹300 for one,"Pizza, Fast Food",31 min,2100+ orders placed from here recently
1,1,Bakingo,4.2,₹300 for one,"Bakery, Desserts",26 min,4175+ orders placed from here recently
2,2,Meghana Foods,4.3,₹300 for one,"Biryani, Andhra, North Indian, Seafood",34 min,30325+ orders placed from here recently
3,3,McDonald's,3.9,₹200 for one,"Burger, Fast Food",22 min,7625+ orders placed from here recently
4,4,Pizza Hut,3.6,₹200 for one,"Pizza, Fast Food, Desserts, Beverages",27 min,5150+ orders placed from here recently

In [9]:
#hsr
food = []
i=0

while i<df.shape[0]:
    for x in df['dish'][i].split(','):
        food.append(x.strip().lower())
    i+=1

food = np.array(food)
hsr = np.unique(food)
print(len(hsr))
hsr

74

array(['afghan', 'american', 'andhra', 'arabian', 'asian', 'awadhi',
       'bakery', 'bbq', 'bengali', 'beverages', 'bihari', 'biryani',
       'bubble tea', 'burger', 'burmese', 'cafe', 'chettinad', 'chinese',
       'coffee', 'continental', 'desserts', 'fast food', 'finger food',
       'french', 'gujarati', 'healthy food', 'hyderabadi', 'ice cream',
       'indonesian', 'italian', 'japanese', 'juices', 'kebab', 'kerala',
       'korean', 'lebanese', 'maharashtrian', 'mangalorean', 'mexican',
       'middle eastern', 'mithai', 'modern indian', 'momos', 'mughlai',
       'nepalese', 'north eastern', 'north indian', 'odia', 'oriental',
       'paan', 'pancake', 'panini', 'pasta', 'pizza', 'rajasthani',
       'rolls', 'salad', 'sandwich', 'seafood', 'shake', 'shawarma',
       'sichuan', 'south indian', 'steak', 'street food', 'sushi',
       'tamil', 'tea', 'thai', 'tibetan', 'turkish', 'vietnamese',
       'waffle', 'wraps'], dtype='<U14')

In [36]:
menu = ['bbq','Pizza','andhra']
j=0
dfindex = []

while j<df.shape[0]:
    for x in menu:
        if x.lower() in df['dish'][j].lower():
            dfindex.append(j)
            break
    j+=1

here
0
here
here
2
here
here
4
here
here
here
here
here
9
here
here
here
here
here
here
here
here
here
here
19
here
here
here
here
here
24
here
here
here
here
here
here
here
here
here
here
34
here
here
here
here
38
here
here
here
here
here
here
here
here
here
here
here
49
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
82
here
here
84
here
85
here
here
here
here
here
here
here
here
here
here
here
here
here
98
here
99
here
here
here
here
here
here
here
here
here
here
here
here
111
here
here
here
here
here
here
here
here
119
here
here
here
here
here
here
here
here
here
here
here
here
131
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
179
here
here
here
here
here
here
here
here
here
here
here
here
here
192
here
here
here
here
here
here
here
199
here
here
201
here
202
here
here
204
here
here
here
here
here
here
210
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
238
here
here
here
here
here
here
here
245
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
285
here
286
here
here
288
here
here
290
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
308
here
here
here
here
here
313
here
here
here
here
here
here
here
here
321
here
322
here
here
here
here
here
here
here
here
here
here
332
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
357
here
here
here
here
here
here

In [33]:
dfindex = [1,3,10,14]

df.iloc[dfindex]

,Unnamed: 0,names,ratings,cost,dish,deliveryin_min,order
1,1,Bakingo,4.2,₹300 for one,"Bakery, Desserts",26 min,4175+ orders placed from here recently
3,3,McDonald's,3.9,₹200 for one,"Burger, Fast Food",22 min,7625+ orders placed from here recently
10,10,Kapoor's Cafe,3.9,₹200 for one,"North Indian, Street Food, Desserts, Beverages",22 min,8425+ orders placed from here recently
14,14,Sharief Bhai,3.8,₹200 for one,"Biryani, Mughlai, Kebab, Afghan, Street Food, ...",29 min,9200+ orders placed from here recently